---
---

<section id="history" class="section bg-skin/10">
    <div class="container mx-auto px-6">
      <div class="flex flex-col md:flex-row items-center gap-12">
        <div class="md:w-1/2">
          <div class="relative">
            <div class="w-full h-[450px]">
              <img 
                src="/public/images/funda-sakra1.webp" 
                alt="Fundador de SAKRA" 
                class="w-[600px] h-[520px] object-cover"
              />
            </div>
            <div class="absolute -bottom-4 -right-4 h-32 w-32 bg-skin"></div>
          </div>
        </div>
        
        <div class="md:w-1/2 space-y-6">
          <h2 class="text-3xl font-light">Nuestra <span class="font-semibold">Historia</span></h2>
          <p>Fundada en 2023, SAKRA nació de la pasión por crear fragancias que evoquen emociones y despierten recuerdos. Nuestra fundadora, inspirada por sus viajes alrededor del mundo, comenzó a experimentar con combinaciones únicas de ingredientes naturales.</p>
          <p>Hoy, SAKRA se ha convertido en una marca reconocida por la calidad de sus perfumes y su compromiso con la sostenibilidad y la ética en la elaboración de cada uno de sus productos.</p>
          <p>Cada fragancia es cuidadosamente creada en nuestro laboratorio en Madrid, donde combinamos técnicas tradicionales con innovación para lograr aromas únicos y duraderos.</p>
        </div>
      </div>
    </div>
  </section>
  